<div class="change-password-page">
    <div class="change-password">
        <p>Change Password</p>
        <div>
            <form [formGroup]="changePasswordForm" (ngSubmit)="onChangePasswordSubmit()" class="form-change">
                <div class="change-dtls">
                    <label for="currentPassword">Current Password</label>
                    <input formControlName="currentPassword" type="password" placeholder="Current Password" />

                </div>
                <div class="change-dtls">
                    <label for="newPassword">New Password</label>
                    <input formControlName="newPassword" type="password" placeholder="New Password" />

                </div>
                <div class="change-dtls">
                    <label for="confirmPassword">Confirm New Password</label>
                    <input formControlName="confirmPassword" type="password" placeholder="Confirm New Password" />

                </div>
               <div class="change-dtls"> <button type="submit" class="form-button">Change Password</button></div>
            </form>
        </div>
    </div>
</div>